<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atwp.mapper.CartMapper">


    <insert id="insert" useGeneratedKeys="true" keyProperty="cid">
        insert into t_cart(uid,pid,price,num,created_user,created_time,
                           modified_user,modified_time)
        values(#{uid},#{pid},#{price},#{num},#{createdUser},#{createdTime},
               #{modifiedUser},#{modifiedTime})
    </insert>

    <update id="update">
        UPDATE
            t_cart
        SET
            num=#{num},
            modified_user=#{modifiedUser},
            modified_time=#{modifiedTime}
        WHERE
            cid=#{cid}
    </update>

    <select id="findByUidandPid" resultType="com.atwp.entity.Cart">
        SELECT * FROM t_cart WHERE uid=#{uid} AND pid=#{pid}
    </select>

    <select id="findVoByUid" resultType="com.atwp.vo.CartVo">
        SELECT
            cid,
            uid,
            pid,
            t_cart.price,
            t_cart.num,
            t_product.title,
            t_product.image,
            t_product.price AS real_price
        FROM
            t_cart LEFT JOIN t_product ON t_cart.pid=t_product.id
        WHERE
            uid=#{uid}
        ORDER BY
            t_cart.created_time DESC
    </select>

    <select id="findByCid" resultType="com.atwp.entity.Cart">
        SELECT * FROM t_cart WHERE cid=#{cid}
    </select>

    <select id="findVoByCid" resultType="com.atwp.vo.CartVo">
        SELECT
            cid,
            uid,
            pid,
            t_cart.price,
            t_cart.num,
            t_product.title,
            t_product.image,
            t_product.price AS real_price
        FROM
            t_cart LEFT JOIN t_product ON t_cart.pid=t_product.id
        WHERE
            cid IN (
                <foreach collection="array" item="cid" separator=",">
                    #{cid}
                </foreach>
                )
        ORDER BY
            t_cart.created_time DESC
    </select>
</mapper>